/* Общие стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Стили для шапки */
header {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333;
}

/* Стили для футера */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Стили для карточек автомобилей */
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
}

.card-body {
    padding: 20px;
}
