{% include 'header.html' %}
<h1>Welcome to the Car Dealership</h1>


<div class="container mt-5">
<div class="row">
    {% for car in cars %}
    <div class="col-md-4 mb-2">
        
        <div class="card h-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <a href="{{ url_for('car_detail', car_id=car.id) }}">
                        <img src="{{ car.photos[0].path }}" class="img-fluid rounded-start" alt="Car Photo">
                    </a>
                </div>
  
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="{{ url_for('car_detail', car_id=car.id) }}" class="card-title" style="font-size: 18px; font-weight: bold;">{{ car.year }} {{ car.brand }} {{ car.model }}</a>
                        <p class="card-text" style="font-size: 18px; font-weight: bold;"><i style="font-size: 12px;">Price: </i><br>${{ '{:,.0f}'.format(car.price) }} | ${{ '{:,.0f}'.format(car.price * ((0.15 / 12) * (1 + (0.15 / 12)) ** 36) / (((1 + (0.15 / 12)) ** 36) - 1)) }}/mo*</p>
                        <p class="card-text" style="font-size: 18px; font-weight: bold;"><i style="font-size: 12px;">Mileage:</i><br> {{ '{:,.0f}'.format(car.mileage) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% include 'footer.html' %}
